<div>
    <section class="catagory">
        <div class="container mx-auto flex flex-col items-center">
            <div class="cnt1 mx-auto">
                <h1>Shop by catagory</h1>
            </div>
    
            <div class="flex  w-full justify-center flex-wrap gap-2 cata2">
                <a href="">
                    <div class="cata-item  ">
                        <div class="catElem relative  w-36 h-36 p-6 rounded-full bg-white">
                            <img class="w-full" alt="elementimg" src="../../../assets/images/item2/item (13).png">
                            <div class="overlay rounded-full flex items-center justify-center w-full h-full backdrop-blur-sm absolute top-1/2 left-1/2">
                                <a href="#" class="shop-bnt text-black font-bold no-underline">Fish</a>
                            </div>
                        </div>
                        <p class="text-center">21 items</p>
                    </div>
                </a>
    
    
                <a href="">
                    <div class="cata-item  ">
                        <div class="catElem relative  w-36 h-36 p-6 rounded-full bg-white">
                            <img class="w-full" alt="elementimg" src="../../../assets/images/item2/item (8).png">
                            <div class="overlay rounded-full flex items-center justify-center w-full h-full backdrop-blur-sm absolute top-1/2 left-1/2">
                                <a href="#" class="shop-bnt text-black font-bold no-underline">Salat</a>
                            </div>
                        </div>
                        <p class="text-center">15 items</p>
                    </div>
                </a>
    
                <a href="">
                    <div class="cata-item  ">
                        <div class="catElem relative  w-36 h-36 p-6 rounded-full bg-white">
                            <img class="w-full" alt="elementimg" src="../../../assets/images/item2/item (1).png">
                            <div class="overlay rounded-full flex items-center justify-center w-full h-full backdrop-blur-sm absolute top-1/2 left-1/2">
                                <a href="#" class="shop-bnt text-black font-bold no-underline">Fresh Fruit</a>
                            </div>
                        </div>
                        <p class="text-center">10 items</p>
                    </div>
                </a>
    
    
                <a href="">
                    <div class="cata-item  ">
                        <div class="catElem relative  w-36 h-36 p-6 rounded-full bg-white">
                            <img class="w-full" alt="elementimg" src="../../../assets/images/item2/item (3).png">
                            <div class="overlay w-full h-full backdrop-blur-sm absolute top-1/2 left-1/2 rounded-full flex items-center justify-center">
                                <a href="#" class="shop-bnt text-black font-bold no-underline">Fresh Vegitables</a>
                            </div>
                        </div>
                        <p class="text-center">11 items</p>
                    </div>
                </a>
    
            </div>
        </div>
    </section>
</div>