<section class="mt-12 mb-12 container mx-auto">
    <div class="flex justify-center flex-col items-center md:flex-row gap-6 ">
        <div class="relative md:basis-4/12">
            <img class="w-full h-80" src="../../../assets/images/item2/off1.png" alt="">
            <div class="bg-[var(--color3)] absolute w-12 h-12 rounded-full top-[8%] right-[8%] text-center transform rotate-30 flex justify-center items-center z-50">
                <div class="bg-red-400 font-bold text-white p-5 rounded-full rotate-45">30%</div>
            </div>
            <div class="absolute top-[20%] left-[10%]">
                <p class="text-2xl font-bold text-white w-4/5">Fresh fruit, vegetable on our product</p>
                <button class="py-1 px-2 bg-green-500 text-bgColor1  border rounded-lg text-sm mt-5">Shop Now</button>
            </div>
        </div>
        <div class="relative w-full  md:basis-4/12">
            <img class="w-full h-80" src="../../../assets/images/item2/off2.png" alt="">
            <div class=" absolute w-12 h-12 rounded-full top-[8%] right-[8%] text-center transform rotate-30 flex justify-center items-center z-50">
                <div class="bg-yellow-200 font-bold text-red-900 p-5 rounded-full rotate-45" >20%</div>
            </div>
            <div class="absolute top-[20%] left-[10%]">
                <p class="text-2xl text-white font-bold w-4/5">Fresh fruit, vegetable on our product</p>
                <button class="py-1 px-2 bg-green-500 text-bgColor1 border rounded-lg text-sm mt-5">Shop Now</button>
            </div>
        </div>
    </div>
</section>
