<div class="flex mt-5  flex-wrap justify-center items-center gap-4">
    <div>
        <div class="catElem relative  w-36 h-36 p-6 rounded-full bg-white border-solid border-8 border-yellow-500 ">
            <div class="bg-yellow-500 p-5 rounded-full">
                <img src="../../../assets/icon/truck.png" alt="">
            </div>
        </div>
        <p class="text-center py-1">Delevery</p>
    </div>
    <div>
        <div class="catElem relative  w-36 h-36 p-6 rounded-full bg-white border-solid border-8 border-yellow-500 ">
            <div class="bg-yellow-500 p-5 rounded-full">
                <img src="../../../assets/icon/cash.png" alt="">
            </div>
        </div>
        <p class="text-center py-1">cash on delevery</p>

    </div>

    <div>
        <div class="catElem relative  w-36 h-36 p-6 rounded-full bg-white border-solid border-8 border-yellow-500 ">
            <div class="bg-yellow-500 p-5 rounded-full">
                <img src="../../../assets/icon/return.png" alt="">
            </div>
            
        </div>
        <p class="text-center py-1">return</p>
    </div>
</div>
