<div class="flex container  mx-auto justify-center gap-2 overflow-hidden">
    <div class="relative">
        <app-card-items></app-card-items>
        <div class="absolute left-0 text-2xl bg-yellow-500 rounded-full top-1/2">
            <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e8eaed"><path d="M561-226.43 306.43-481 561-735.57 617.57-679l-198 198 198 198L561-226.43Z"/></svg>
        </div>
    </div>
    <div>
        <app-card-items></app-card-items>
    </div>
    <div class="relative">
        <app-card-items></app-card-items>
        <div class="absolute right-0 text-2xl bg-yellow-500 rounded-full top-1/2">
            <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e8eaed"><path d="m516.43-481-198-198L375-735.57 629.57-481 375-226.43 318.43-283l198-198Z"/></svg>
        </div>
    </div>



</div>