<div class="my-8">
    <div class="container mx-auto">
        <div>
            <div class="text-center">
                <h1>Contact us</h1>
                <p class="text-gray-400 text-sm">
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

                </p>
                <div class="mx-auto">
                    <google-map width="100%" height="400px" [center]="center" [zoom]="zoom"></google-map>
                </div>
            </div>
            <div class="flex md:flex-row flex-col justify-center">
                <div class="basis-1/2 ">
                    <h3>Massage</h3>
                    <p>Name</p>
                    <div>
                        <input type="text" name="" id="">
                    </div>
                    <p>Email</p>
                    <div>
                        <input type="text" name="" id="">
                    </div>
                    <p>Massage</p>
                    <div>
                        <textarea name="" id=""  rows="5"></textarea>
                    </div>

                    <div>
                        <button class="bg-green-400 mt-5 py-2 px-5 rounded-lg text-white">Submit</button>
                    </div>
                </div>
                <div class="basis-1/2">
                    <h3>Get in touch</h3>
                    <p class="text-xs">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, odit porro dolorem ex id eligendi dolores nulla modi esse veniam tempore nesciunt hic error in consequuntur earum! Quae, molestiae excepturi.

                    </p>
                    <h4>Address</h4>
                    <p>Rajshahi,Bangladesh</p>
                    <h4>Phone</h4>
                    <p>+8801712345678</p>
                    <h4>Email</h4>
                    <p>raselislamhotmail.com</p>
                </div>
            </div>
        </div>

    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
</div>