<div>
    <app-navigationber></app-navigationber>
    <!-- <app-moreproducts></app-moreproducts> -->
     <app-banner></app-banner>
     <app-offer></app-offer>
     <div class="my-5 h-1"></div>
    <!-- <app-catagory></app-catagory> -->
    
    <div class="my-5 h-1"><h1 class="text-center">Trending products</h1></div>
    <app-trendingproduct></app-trendingproduct>

    <div class="mt-10 "><h1 class="text-center">Our products</h1></div>
    <div class="flex justify-center gap-2 mb-5">
        <div>
            <button class="py-1 px-2 text-lg text-black  border border-solid  border-gray-400 rounded-lg  mt-5">SPECIAL PRODUCT</button>
        </div>
        <div>
            <button class="py-1 px-2 text-lg text-black  border border-solid border-bgColor1 hover:border-gray-400 rounded-lg  mt-5">NEW PRODUCT</button>
        </div>
        <div>
            <button class="py-1 px-2 text-lg text-black  border border-solid border-bgColor1 hover:border-gray-400 rounded-lg  mt-5">BEST SELLER</button>
        </div>
    </div>
    <app-moreproducts></app-moreproducts>
    <div class="my-10 h-1"> </div>
    <!-- <app-about></app-about> -->
    <!-- <app-contactus></app-contactus> -->
    <!-- <app-card-items></app-card-items> -->
    <!-- <app-signin></app-signin> -->
    <!-- <app-single-itemview></app-single-itemview> -->
    <!-- <app-payment></app-payment> -->
    <div class="my-5 h-1"></div>
    <app-ourservice></app-ourservice> 
    <div class="my-5 h-1"></div>
     <app-footer></app-footer>
</div>